*{
	margin: 0;
	padding: 0;
}
/*index page*/
/*header*/
	#header header{
		padding-top: 5px;
		position: relative;
	}
		#header header:before{
			content: "";
			background: url(../images/headbg.png) no-repeat;
			position: absolute;
			width: 55px;
			height: 30px;
			top: 5px;
			left: 0;
			
		}
		#header header:after{
			content: "";
			background: url(../images/headbg.png) no-repeat;
			position: absolute;
			width: 55px;
			height: 30px;
			top: 5px;
			left: auto;
			right: 0;
			
		}
		
	#header header .container .row .col-md-6 .logo{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#header header .container .row .col-md-6 .row .col-md-6 .phone{
		visibility: hidden;
	}
	
		#header header .container .row .col-md-6 .row .col-md-6 .phone i{
			
			background: #4da4d8;
			color: #fff;
			padding: 8px;
			margin-right: 10px;
		}
		#header header .container .row .col-md-6 .row .col-md-6 .phone p{
			display: inline-block;
			color:#999;
		}
	#header header .container .row .col-md-6 .row .col-md-6 .form{
		visibility: hidden;
	}	
		#header header .container .row .col-md-6 .row .col-md-6 .form input[type="search"]{
			border: 1px solid #e1e1e1;
			padding-left: 5px;
			color: #999;
			height: 30px;
			vertical-align:top;
		}
		#header header .container .row .col-md-6 .row .col-md-6 .form input[type="submit"]{
			width: 30px;
			height: 30px;
			background: url(../images/search.png) no-repeat #4da4d8;
			background-position: center center;	
			border: 1px solid #4da4d8;
			vertical-align:bottom;
			 
		}
		
		
	#header header .container .row .col-md-6 .row .col-md-12 .navbar-default{
		background: none;
		border: none;
	}
		#header ul.nav{
			margin-top: 35px;
		}
		#header header .container .row .col-md-6 .row .col-md-12 .navbar-default .nav li a{
			padding-right: 20px;
			font-size: 18px;
			
		}
			#header header .container .row .col-md-6 .row .col-md-12 .navbar-default .nav li a:hover, a:focus, a:active{
				color: #44b749;
			
			}

/*slider*/

#slider .big-font{
	color: #fff;
	font-size: 35px;
	font-weight: bold;
}
	#slider .big-font span{
		color:#eab92f;
	}
	
	#slider .caption .color{
		background: #eab92f;
		display: inline-block;
		color: #fff;
		padding: 15px 30px;
		border-radius: 5px;
	}
	
	#slider .caption .color-sec{
		background: #4da4d8;
		display: inline-block;
		color: #fff;
		padding: 15px 30px;
		border-radius: 5px;
	}
	
/*top pets*/
#top-pets{
	padding: 80px 0;
}	
	#top-pets .container .row .col-md-4{
		position: relative;
	}
	#top-pets .container .row .col-md-4:nth-of-type(2) {
		position: relative;
		margin-bottom: 80px;
	}
		
		.container .row .col-md-4 .heading{
			text-align: center;
			color: #666;
		}

			.container .row .col-md-4 .heading:before{
				content:""; 
				position: absolute;
				background: url(../images/headingline.png) no-repeat;
				left: -30px;
				top:30%;
				width: 68px;
				height: 24px;
			}
			.container .row .col-md-4 .heading:after{
				content:""; 
				position: absolute;
				background: url(../images/headingline.png) no-repeat;
				left: auto;
				right: -30px;
				top: 30%;
				width: 68px;
				height: 24px;
			}
			.container .row .col-md-4 .heading p{
				text-align: center;
				color: #666;
				padding: 0 30px;
			}
			.col-md-4 .num{
				width: 72px;
				height: 72px;
				position: absolute;
				text-align: center;
				border: 5px solid #fff;
				border-radius: 100%;
				padding: 3px;
				top: -38px;
				left: 0;
				right: 0;
				margin: 0 auto;
				text-shadow:2px 2px #57c353;
				background: #57c353;
				color: #fff;
			}
			.container .row .col-md-4:nth-of-type(2) .num {
				background: #4ba1d6;
				text-shadow: 2px 2px #4ba1d6;
			}

			.container .row .col-md-4:nth-of-type(3) .num {
				background: #e9b630;
				text-shadow: 2px 2px #e9b630;
			}
			.col-md-4 .num h3{
				margin-top: 15px;			
			}
			
	#top-pets .container .row .col-md-4 .thumb{
		border: 1px solid #e1e1e1;
		border-radius: 5px;
		padding: 5px;
		overflow: hidden;
		visibility: hidden;
	}
		#top-pets .container .row .col-md-4 .thumb img{
			width: 100%;
			height: 250px;
		}

/** LIGHTBOX MARKUP **/

.lightbox {
	/** Default lightbox to hidden */
	display: none;
	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	-webkit-transition: opacity 2s ease-in-out;
	-moz-transition: opacity 2s ease-in-out;
	-o-transition: opacity 2s ease-in-out;
	transition: opacity 2s ease-in-out;
	overflow: hidden;
}

	.lightbox img {
		/** Pad the lightbox image */
		max-width: 90%;
		max-height: 80%;
		margin-top: 2%;
		border: 10px solid #fff;
		box-sizing: border-box;
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
	}

	.lightbox:target {
		/** Remove default browser outline */
		outline: none;

		/** Unhide lightbox **/
		display: block;
		-webkit-transition: opacity .5s ease-in-out;
		-moz-transition: opacity .5s ease-in-out;
		-o-transition: opacity .5s ease-in-out;
		transition: opacity .5s ease-in-out;
		overflow: hidden;
	}
		.lightbox span{
			
		    background: none repeat scroll 0 0 #222;
		    color: #fff;
		    display: inline-block;
		    font-weight: bold;
		    left: 40%;
		    opacity: 0.8;
		    padding: 16px;
		    position: absolute;
		    top: 36%;
		    width: 20%;
		}
	
		
.image {
    position:relative;
}
	.image img {
	    width:100%;
	    vertical-align:top;
	    border: 5px solid #e1e1e1;
	  	border-radius: 4px;
	}
	.image:after, .image:before {
	    position:absolute;
	    opacity:0;
	    transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	}

	.image:before {
	    content: attr(data-content);
	    width:100%;
	    color:#666;
	    z-index:1;
	    top:110px;
	    padding:20px 0;
	    text-align:center;
	    background:#f8f8f8;
	    box-sizing:border-box;
	    -moz-box-sizing:border-box;
	}
	.image:hover:after, .image:hover:before {
	    opacity:0.7;
	}

/*portfolio*/

	#portfolio .parallaxbg{
		background: url(../images/portfoliobg.png) no-repeat;
		background-size: 100% 100%;
		background-attachment: fixed;
		padding: 50px 0;
	}
	#portfolio .btn{
		padding: 14px 20px;
		border: none;
	}
	.image-gal {
   	 position:relative;
	}
		.image-gal img {
		    width:100%;
		    vertical-align:top;
		    border: none !important;
		    height: 150px !important;
		}
		.image-gal:after, .image-gal:before {
		    position:absolute;
		    opacity:0;
		    transition: all 0.5s;
		    -webkit-transition: all 0.5s;
		}

		.image-gal:before {
		    content: attr(data-content);
		    width:100%;
		    color:#666;
		    z-index:1;
		    top:50px;
		    padding:10px 0;
		    text-align:center;
		    background:#f8f8f8;
		    box-sizing:border-box;
		    -moz-box-sizing:border-box;
		}
		.image-gal:hover:after, .image-gal:hover:before {
		    opacity:0.7;
		}
/*about pets life*/
#about-pets-life{
	padding-top: 80px;
	padding-bottom: 70px;
}
	#about-pets-life .container .row .col-md-6 h4{
		color: #666;
		position: relative;
		padding-left: 90px;
		margin-bottom: 25px;
	}

	#about-pets-life .container .row .col-md-6 h4:before{
		content:"";
		position: absolute;
		background: url(../images/headingline.png) no-repeat;
		top: 0;
		left: 0;
		width: 68px;
		height: 24px;
	}
	#about-pets-life .container .row .col-md-6 p{
		color: #666;
		margin-bottom: 35px;
		font-size: 13px;
		line-height: 1.8em;
	}

	#about-pets-life .container .row .col-md-6 .sr-head{
		font-size: 13px;
		color: #666;
		margin-bottom: 2px;
		display: inline-block;
	}

	#about-pets-life .container .row .col-md-6 .progress {
	    background-color: #f5f5f5;
	    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	    height: 13px;
	    margin-bottom: 10px;
	    overflow: hidden;
	    border-radius: 0 !important;
	}

	#about-pets-life .container .row .col-md-6 .progress:nth-of-type(3) {
	   margin-bottom: 30px;
	}

		#about-pets-life .container .row .col-md-6 .progress .progress-striped .progress-bar-success{
		background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, 				rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, 						  transparent) !important;
		}

		.progress-striped .progress-bar, .progress-bar-striped{
		background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, 				rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, 						  transparent) !important;
		background-size: 20px 10px !important;
		}
		.sr-only {
		    border: 0 none;
		    clip: rect(0px, 0px, 0px, 0px);
		    height: 1px;
		    left: 0;
		    margin: -1px;
		    overflow: hidden;
		    padding: 0;
		    position: relative;
		    top: -4px;
		    width: 1px;
		}

	#about-pets-life .container .row .col-md-5 .box{
		background: #f4f4f4;
		position: relative;
		height: 200px;
		margin-top: 165px;
		
	}
		#about-pets-life .container .row .col-md-5 .box:before{
			content: "";
			background: url(../images/headbg.png) no-repeat;
			width: 155px;
			height: 24px;
			position: absolute;
			left: 0;
			bottom: 5px;
			
		}
		#about-pets-life .container .row .col-md-5 .box:after{
			content: "";
			background: url(../images/headbg.png) repeat;
			width: 155px;
			height: 24px;
			position: absolute;
			left: auto;
			right: 0;
			top: 5px;
			
		}

			#about-pets-life .container .row .col-md-5 h3{
				vertical-align: bottom;
				padding: 50px 0 0 50px;
				color: #59c555;
			}
			#about-pets-life .container .row .col-md-5 p{
				margin-left: 20px;
				color: #666;
				font-size: 18px;
			}
				#about-pets-life .container .row .col-md-5 p i{
					padding-right: 20px;
					color: #666;
					font-size: 14px !important;
				}
			#about-pets-life .container .row .col-md-5 a{
					margin:0 20px 0px 0;
					display: inline-block;
					background: #4da4d8 !important;
					border: 1px solid #4da4d8;
				}
	#about-pets-life .container .row .col-md-5 .dog-img{
		position: absolute;
		top: 35px;
		left: 33%;
		
	}
		#about-pets-life .container .row .col-md-5 .dog-img{
			visibility: hidden;
			
		}
	#about-pets-life .container .row .col-md-5 .foot-print{
		position: absolute;
		top: -90px;
		left: 70%;	
	}

/*footer*/
#footer{
	background: #222;
	padding-top: 70px;
}
	#footer .container .footer-inner{
		
		border-bottom: 1px solid #151515;
		margin-bottom: 40px;
		padding-bottom: 40px;
	}
	#footer .container .footer-inner .row .col-md-4 h3{
		color: #999;
		margin-bottom: 30px;
		font-weight: 400 !important;
	}
	#footer .container .footer-inner .row .col-md-4 img{
		margin-bottom: 20px;
	}
	#footer .container .footer-inner .row .col-md-4 p{
		margin-bottom: 20px;
		color: #666;
		font-size: 12px;
	}
	#footer .container .footer-inner .row .col-md-4 .social-icon i{
		display: inline-block;
		width: 48px;
		height: 48px;
		border-radius: 100%;
		background: #333;
		color: #222222;
		font-size: 20px;
		margin-left: 20px;
		padding-top: 15px;
		text-align: center; 
	}
	#footer .container .footer-inner .row .col-md-4 .social-icon a:hover i:nth-of-type(1){
		display: inline-block;
		width: 48px;
		height: 48px;
		border-radius: 100%;
		background: #5EA9DD;
		color: #fff;
		font-size: 20px;
		margin-left: 20px;
		padding-top: 15px;
		text-align: center; 
	}
		#footer .container .footer-inner .row .col-md-4 .tweets .col-md-2 .tweetbox{
			width: 55px;
			height: 55px;
			background: #313131;
			border-radius: 5px;
		}
			.tweetbox i{
				font-size: 28px;
				color: #666666;
				padding: 15px;
			}
			#footer .container .footer-inner .row .col-md-4 .tweets:nth-of-type(1){
				border-bottom: 1px solid #151515;
				margin-bottom: 35px;
			}
		#footer .container .footer-inner .row .col-md-4 .tweets .col-md-10 p{
			padding-left: 40px;
			
		}
		#footer .container .footer-inner .row .col-md-4 .tweets .col-md-10 a{
			padding-left: 40px;
			display: block;
			color: #fff;
		}
		#footer .container .footer-inner .row .col-md-4 .tweets .col-md-10 span{
			padding-left: 40px;
			display: block;
			color: #666;
			text-align: right;
			margin-bottom: 20px;
		}
		#footer .container .footer-inner .row .col-md-4 input[type="text"]{
			width: 100%;
			padding: 10px 0 10px 10px;
			color: #666;
			background: url(../images/name.png) no-repeat #313131;
			background-position: right;
			border-radius: 4px;
			-webkit-box-shadow:inset 35px 371px 10px 5px #313131;
			box-shadow:inset 35px 100% 10px 5px #313131;
			border: 1px solid #313131;
			margin-bottom: 10px;
		}
		#footer .container .footer-inner .row .col-md-4 input[type="email"]{
			width: 100%;
			padding: 10px 0 10px 10px;
			color: #666;
			background: url(../images/email.png) no-repeat #313131;
			background-position: right;
			border-radius: 4px;
			-webkit-box-shadow:inset 35px 371px 10px 5px #313131;
			box-shadow:inset 35px 100% 10px 5px #313131;
			border: 1px solid #313131;
			margin-bottom: 10px;
		}
		#footer .container .footer-inner .row .col-md-4 textarea{
			width: 100%;
			padding: 10px;
			height: 100px;
			background: #313131;
			border: 1px solid #313131;
			margin-bottom: 10px;
			border-radius: 4px;
			color: #666;
		}
		#footer .container .footer-inner .row .col-md-4 input[type="submit"]{
			width: 100%;
			padding: 10px 0 10px 10px;
			color: #666;
			text-align: center;
			border: 1px solid #313131;
			background: #313131;
			border-radius: 4px;
		}
	#footer .copyright{
		padding-bottom: 40px;
	}
		#footer .copyright .row .col-md-12 p{
			text-align: center;
			color: #999;
		}
		#footer .copyright .row .col-md-12 a{
			color: #fff;
		}

	#footer .footer-lines{
		background: url(../images/headingline.png) repeat-x;
		width: 100%;
		height: 24px;
		display: block;
	}

/***************************/
/****    pets shop   ******/
/**************************/
/*parallax head*/
#parallax{
	margin-bottom: 60px;
}
#shop-parallax-head{
	background: url(../images/parlaximg.png) no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-position: top center;
	overflow: hidden;
	z-index: -2;
}
	#parallax-overlay{
		background: rgba(0, 0, 0, 0.2);
	}
		#parallax-overlay .container .row .col-md-12{
			color: #fff;
			position: relative;
			padding-bottom: 70px;			
		}
			#parallax-overlay .container .row .col-md-12 h4{
				margin-bottom: 0;
			}
			#parallax-overlay .container .row .col-md-12 h1{
				text-align: center;
				font-size: 58px;
				font-weight: 700;
				margin: 0;
			}

			#parallax-overlay .container .row .col-md-12 h2{
				text-align: center;
				position: absolute;
				top: 44%;
				left: 21%;
			}
/*products*/
	.col-md-4 .product{
		background: rgb(248, 248, 248);
		border: 1px solid #e1e1e1;
		padding: 4px;
		border-radius:4px;
		margin-bottom: 30px;
		visibility: hidden;
	}
		.col-md-4 .product .new-img{
			position: relative;
			overflow: hidden;
			margin-bottom: 20px;
			width: 100%;
		}
			.col-md-4 .product .new-img img{
				border-radius:4px;
				width: 100%;
				height: 170px;
			}
			
		.col-md-4 .product .sale-img{
			position: relative;
			overflow: hidden;
			margin-bottom: 20px;
			width: 100%;
			
		}
			.col-md-4 .product .sale-img img{
				border-radius:4px;
				width: 100%;
				height: 170px;
			}
			
		.col-md-4 .product .hot-img{
			position: relative;
			overflow: hidden;
			margin-bottom: 20px;
			width: 100%;
			
		}
			.col-md-4 .product .hot-img img{
				border-radius:4px;
				width: 100%;
				height: 170px;
			}
			
		.col-md-4 .product .sold-img{
			position: relative;
			overflow: hidden;
			margin-bottom: 20px;
			width: 100%;
			
		}
			.col-md-4 .product .sold-img img{
				border-radius:4px;
				width: 100%;
				height: 170px;
			}
			
	.col-md-4 .product .pet-info p{
		text-align: center;
		color: rgb(102, 102, 102);
		margin-bottom: 10px;
	}
		.col-md-4 .product .pet-info p:nth-of-type(2){
			color: rgb(102, 102, 102);
			margin-bottom: 20px;
			margin-left: 20%;
			text-decoration: line-through;
			display: inline-block;
		}
			.col-md-4 .product .pet-info span{
				text-decoration: none !important;
				margin-left: 20px;
				color: rgb(75, 164, 216);
				margin-bottom: 20px;
			}
	.col-md-4 .product .icons{
		padding: 0 30px 0 30px;
		margin-bottom: 30px;
		width: 245px;
		margin: 0 auto; 
		margin-bottom: 20px;
	}
		.col-md-4 .product .icons .icon{
			margin-right: 10px;
			display: inline-block;
			-webkit-box-shadow: -1px -5px 15px -3px rgba(225,225,225,1);
			-moz-box-shadow: -1px -5px 15px -3px rgba(225,225,225,1);
			box-shadow: -1px -5px 15px -3px rgba(225,225,225,1);
		}
		.col-md-4 .product .icons .icon a{
			width: 48px;
			height: 48px;
			border: 1px solid #e1e1e1;
			text-align: center;
			color:  rgb(75, 164, 216);
			padding-top: 14px;
			border-radius: 4px;
			display: inline-block;
		}
		.col-md-4 .product .icons .icon a:hover{
			width: 48px;
			height: 48px;
			border: 1px solid rgb(75, 164, 216);
			text-align: center;
			color:  rgb(255, 255, 255);
			background: rgb(75, 164, 216);
			padding-top: 14px;
			border-radius: 4px;
			display: inline-block;
		}

	.products .pagi{
		margin-left: 12px;
	}

	.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
		background-color: rgb(77, 164, 216) !important;
		border: 1px solid rgb(77, 164, 216);
	}
	.sidebar{
		padding: 0;
	}
	.sidebar .banner{
		margin-bottom: 40px;
		overflow: hidden;
	}
		.sidebar .banner img{
			width: 100%;
		}
	.sidebar .widget{
		margin-bottom: 40px;
		position: relative;
	}
		.sidebar h4{
			text-align: center;
			color: rgb(102, 102, 102);
			margin-left: 60px;
			margin-bottom: 30px;
		}
			.sidebar h4:before{
				content: "";
				position: absolute;
				background: url(../images/headingline.png) no-repeat;
				width: 68px;
				height: 24px;
				left: 0;
				top: 0;
			}
		.sidebar .widget ul li{
			list-style: none;
		}
			.sidebar .widget ul li{
				list-style: none;
			}
				.sidebar .widget ul li:nth-of-type(odd){
						background: rgb(248, 248, 248);
					}
					
					.sidebar .widget ul li:hover{
						background: rgb(77, 164, 216);
						border-radius: 4px;
					}
					.sidebar .widget ul li:hover a{
						color: rgb(255, 255, 255);
					}
					.sidebar .widget ul li:hover i{
						color: rgb(255, 255, 255);
					}
					.sidebar .widget ul li a{
						text-decoration: none;
						display: inline-block;
						padding: 10px 20px;
						color: rgb(102, 102, 102);
						width: 100%;
					}
						.sidebar .widget ul li a i{
							float: right;
							padding-top: 5px;
							color: rgb(204, 204, 204);
							display: inline-block;
						}
	

						.sidebar .widget ul li a span{
							float: right;
							
							color: rgb(204, 204, 204);
							display: inline-block;
						}
						.sidebar .widget p{
							color: rgb(136, 136, 136);
							font-size: 13px;
						}
						.sidebar .widget input{
							width: 100%;
							padding: 10px;
							color: rgb(136, 136, 136);
							margin-bottom: 5px;
							background: rgb(248, 248, 248);
							border:	1px solid rgb(225, 225, 225);
							border-radius: 5px;
						}
						.sidebar .widget input[type="submit"]{
							width: 100%;
							padding:10px 0;
							background: rgb(77, 164, 216);
							color: rgba(255, 255, 255, 1);
							border: 1px solid rgb(77, 164, 216);
							border-radius: 5px;
						}
	.sidebar .popular{
		margin-bottom: 40px;
		position: relative;
	}

		.sidebar .popular .pimage{
			overflow: hidden;
			height: 100%;
			padding-right: 0;
			padding-left: 15px;
			margin-bottom: 10px;
		}
			.sidebar .popular .pimage img{
				
				border: 1px solid rgb(225, 225, 225);
				border-radius: 4px;
				padding: 4px;
				width: 100%;
				height: 100%;
			}

			.sidebar .popular a{
				text-decoration: none;
				color: rgb(77, 164, 216);
			}
			.sidebar .popular p{
				font-size: 12px;
			}

/***************************/
/****    pets page   ******/
/**************************/		
#pets-parallax-head{
	background: url(../images/petsparallax.png) no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-position: top center;
	overflow: hidden;
	z-index: -2;
}

/***************************/
/****    About Us   ******/
/**************************/

#about{
	
	margin-bottom: 40px; 
}
	#about .container{
		padding: 0 0 40px 0;
		border-bottom: 1px solid rgb(225, 225, 225);
	}
	#about .container .row:nth-of-type(1){
		margin-bottom: 50px;
	}

	#about .about-image{
		overflow: hidden;
		margin-bottom: 20px;
	}
		#about .about-image img{
			width: 100%;
			border: 1px solid rgb(225, 225, 225);
			padding: 4px;
			border-radius: 4px;
		}
	#about .about-team{
		position: relative;
		text-align: center;
	}
		#about .about-team h4{
			
			display: inline-block;
			color: rgb(102, 102, 102);
			margin-bottom: 20px;
		
		}
		#about .about-team h4:before{
			content: "";
			position: absolute;
			background: url(../images/headingline.png) no-repeat;
			left: 0;
			top: 9px;
			width: 64px;
			height: 24px;
		}
		#about .about-team span{
			font-size: 12px;
			color: rgb(153, 153, 153);
			display: inline-block;
			
		}
		#about .about-team p{
			font-size: 13px;
			color: rgb(153, 153, 153);
			text-align: left !important;
			
		}

/***************************/
/****    services   ******/
/**************************/
	#services .container .row:nth-of-type(1){
		margin-bottom: 50px;
	}
	#services .service{
		margin-bottom: 20px;
	}
	#services .services-image{
		overflow: hidden;
		margin-bottom: 20px;
	}
		#services .services-image img{
			width: 100%;
			border: 1px solid rgb(225, 225, 225);
			padding: 4px;
			border-radius: 6px;
			height: 300px;
		}
	#services .services-info{
		position: relative;
		text-align: center;
	}
		#services .services-info h4{
			
			display: inline-block;
			color: rgb(102, 102, 102);
			margin-bottom: 20px;
		
		}
		#services .services-info h4:before{
			content: "";
			position: absolute;
			background: url(../images/headingline.png) no-repeat;
			left: 0;
			top: 9px;
			width: 64px;
			height: 24px;
		}
		#services .services-info p{
			font-size: 13px;
			color: rgb(153, 153, 153);
			text-align: left !important;
			
		}
/***************************/
/****    contact us   ******/
/**************************/
#contact{
	margin-bottom: 80px;
}
	#contact .container .row:nth-of-type(1){
		margin-bottom: 50px;
	}
	#contact .form-heading {
		position: relative;
	}
		#contact .form-heading h4{
			color: rgb(102, 102, 102);
			margin-left: 80px;
			margin-bottom: 30px;
		}
			#contact .form-heading h4:before{
				content: "";
				position: absolute;
				background: url(../images/headingline.png) no-repeat;
				width: 64px;
				height: 24px;
				left: 0;
				top: 0;
			}
	#form{
		background: rgb(244, 244, 244);
		padding: 35px;
		border: 1px solid rgb(225, 225, 225);
		border-radius:5px;
	}
		#form input{
			width: 49%;
			padding: 15px;
			background: rgb(248, 248, 248);
			border: 1px solid rgb(225, 225, 225);
			margin-bottom: 5px;
			color: rgb(136, 136, 136);
		}
		#form textarea{
			width: 98.5%;
			height: 170px;
			padding: 15px;
			background: rgb(248, 248, 248);
			border: 1px solid rgb(225, 225, 225);
			margin-bottom: 5px;
			color: rgb(136, 136, 136);
		}
		#form input[type="submit"]{
			width: 210px !important;
			color: rgb(255, 255, 255);
			background: rgb(77, 164, 216);
			padding: 15px 30px;

		}
	#contact .contact-info p{
		color: rgb(136, 136, 136);
		font-size: 12px;
	}
		#contact .contact-info p i{
			display: inline-block;
			width: 34px;
			height: 34px;
			background: rgb(204, 204, 204);
			color:  rgb(255, 255, 255);
			text-align: center;
			border-radius: 5px;
			font-size: 18px;
			padding-top: 8px;
			margin-right: 15px;
		}
		#contact .contact-info p:nth-of-type(4){
			color: rgb(77, 164, 216);
		}
		#contact .contact-info p:nth-of-type(4) i{
			display: inline-block;
			width: 34px;
			height: 34px;
			background: rgb(77, 164, 216);
			color:  rgb(255, 255, 255);
			text-align: center;
			border-radius: 5px;
			font-size: 18px;
			padding-top: 8px;
			margin-right: 15px;
		}
		#contact .contact-info p:nth-of-type(8){
			margin-bottom: 40px;
		}
	.google-map-canvas .overlay {
	   background:transparent; 
	   position:relative; 
	   width:100%;
	   height:600px; /* your iframe height */
	   top:600px;  /* your iframe height */
	   margin-top:-600px;  /* your iframe height */
	}
	#map-canvas iframe{
		width: 100%;
		height: 596px;
		border: 0;
	}
/***************************/
/****    blog page   ******/
/**************************/
#blog .post{
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid rgb(225, 225, 225);
}
#blog .post .media{
	border: 1px solid rgb(225, 225, 225);
	border-radius: 5px;
	padding: 4px;
	overflow: hidden;
	height: 100%;
	margin-bottom: 20px;
}
	#blog .post .media img{
		width: 100%;
		border-radius: 5px;
		height: 100%;
	}
	#blog .post .media iframe{
		border: 0;
		width: 100%;
		height: 380px;
	}
	#blog .post .date{
		display: inline-block;
		background: rgb(77, 164, 216);
		padding: 10px 20px;
		color: rgb(255, 255, 255);
		font-size: 18px;
		border-radius:5px;
		text-align: center;
		margin-right: 20px;
		margin-bottom: 40px;
	}
		#blog .post .date span{
			display: block;
			font-size: 12px;
		}
	#blog .post .post-heading{
		display: inline-block;
		vertical-align: top;
	}
		#blog .post .post-heading h3{
			margin-top: 10px;
			margin-bottom: 5px;
			color: rgb(102, 102, 102);
		}
		#blog .post .post-heading p{
			margin-top: 0;
			color: rgb(153, 153, 153);
			font-size: 11px;
		}
			#blog .post .post-heading p a{
				color: rgb(77, 164, 216);
			}
	#blog .post .post-description{
		margin-bottom: 35px;
	}
		#blog .post .post-description p{
			font-size: 13px;
			color: rgb(136, 136, 136);
		}
		#blog .post .post-description p:nth-of-type(2){
			background: rgb(248, 248, 248);
			padding: 15px 30px;
			line-height: 20px;
		}
		#blog .post .post-description p:nth-of-type(2) span{
			font-size: 32px;
			color: rgb(136, 136, 136);
		}
		#blog .post .post-description blockquote{
			border-left: 5px solid #4da4d8;
		    margin: 0 0 20px;
		    padding: 20px 0 20px 40px;
		    
		}
		#blog .post .post-description blockquote p{
			font-size: 24px;
		}
	#blog .post .tags p{
		color: rgb(153, 153, 153);
		display: inline-block;
		width: 49%;
	}
		#blog .post .tags p i{
			color: rgb(153, 153, 153);
			display: inline-block;
			margin-right: 10px;
		}

		#blog .post .tags p a{
			color: rgb(153, 153, 153);
			display: inline-block;
			margin: 0 10px;
			text-decoration: none;
		}
		#blog .post .tags p a:hover{
			color: rgb(77, 164, 216);
			
		}

		#blog .post .tags p:nth-of-type(2){
			text-align: right;
		}
			#blog .post .tags p:nth-of-type(2) a{
				background: rgb(77, 164, 216);
				text-decoration: none;
				padding: 15px 20px;
				color: rgb(255, 255, 255);
				border-radius: 5px;
			}
.author-info{
	position: relative;
	padding-bottom: 30px;
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 30px;
}
	.author-info h4{
		color: rgb(102, 102, 102);
		padding-left: 10%;
		border-bottom: 1px solid #e1e1e1;
		padding-bottom: 40px;
		margin-bottom: 40px;
	}
	.author-info h4:before{
		content: "";
		background: url(../images/headingline.png) no-repeat;
		position: absolute;
		left: 0;
		top: 8px;
		width: 64px;
		height: 24px;
	}
	
	.author-info .author-img{
		border: 1px solid #e1e1e1;
		border-radius: 5px;
		padding: 4px;
		display: inline-block;
	}
		.author-info .author-img img{
			width: 100%;
			border-radius: 5px;
		}
		.author-info .author-des p{
			font-size: 13px;
			color: #888;
			vertical-align: top;
		}
.post-button{
	text-align: center;
	margin-bottom: 40px;
}
	.post-button a{
		text-decoration: none;
		color: #fff;
		background: #cccccc;
		padding: 10px 15px;
		border-radius: 5px;
		margin-left: 15px;
	}
	.post-button a:hover{
		color: #fff;
		background: #4da4d8;
		padding: 10px 15px;
		border-radius: 5px;
		margin-left: 15px;
	}
.comments{
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 30px;
}
.comments h4{
	color: rgb(102, 102, 102);
	padding-left: 10%;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 40px;
	margin-bottom: 40px;
}
	.comments h4:before{
		content: "";
		background: url(../images/headingline.png) no-repeat;
		position: absolute;
		left: 0;
		top: 8px;
		width: 64px;
		height: 24px;

	}
	.comment{
		margin-bottom: 40px;
	}
	.commenter-img{
		border: 1px solid #e1e1e1;
		border-radius: 5px;
		padding: 4px;
		display: inline-block;
	}
		.commenter-img img{
			width: 100%;
			border-radius: 5px;
		}
		.commenter-des p{
			font-size: 13px;
			color: #888;
			vertical-align: top;
		}
	.reply{
		margin-bottom: 40px;
	}
	.comment-reply{
		background: #f8f8f8;
		border: 1px solid #e1e1e1;
		padding: 30px 50px;

	}
	.comment-button{
		text-align: center;
		margin-bottom: 40px;
	}
		.comment-button a{
			text-decoration: none;
			background: #cccccc;
			color: #fff;
			padding: 10px 20px;
			border-radius: 5px;
		}
		.comment-button a:hover{
			background: #4da4d8;
			padding: 10px 20px;
			border-radius: 5px;

		}
	.post-comment{
		background: #f4f4f4;
		border: 1px solid #e1e1e1;
		padding: 30px;
		margin-bottom: 90px;
	}
		.post-comment form input{
			width: 49%;
			padding: 10px;
			background: #f8f8f8;
			color: #888;
			border: 1px solid #e1e1e1;
			margin-bottom: 10px;
		}
		.post-comment form textarea{
			width: 98.5%;
			padding: 10px;
			background: #f8f8f8;
			color: #888;
			border: 1px solid #e1e1e1;
			margin-bottom: 10px;
			height: 170px;
		}
		.post-comment form input[type="submit"]{
			width: 20%;
			color: #fff;
			background: #4da4d8;
			border: 1px solid #4da4d8;
			border-radius: 5px;
		}
	.back-to-top {
			position: fixed;
			bottom: 2em;
			right: 40px;
			text-decoration: none;
			color: #fff;
			background-color: rgba(204, 204, 204, 0.50);
			font-size: 14px;
			padding: 1.5em;
			display: none;
			border-radius: 5px;
			
		}

		.back-to-top:hover {	
			background-color:rgba(77, 164, 216, 0.70) ;
			color: #fff;
			text-decoration: none;
		}	

